<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.livingrecordings.giggermainapp"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk tools:overrideLibrary="com.doodle.android.chips"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        >

        <activity
            android:name=".LoginScreens.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ItemListActivity"/>
        <activity android:name=".EquipEditor.EquipEditorActivity"/>
        <activity android:name=".BandEditor.BandEditorActivity"/>
        <activity android:name=".BandEditor.notUsedNow.ImportSingleContactActivity"/>
        <activity android:name=".BandEditor.ShowContactDetailActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".LoginScreens.LoginActivity"/>
        <activity android:name=".LoginScreens.ChipsSearch"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>


        <service
            android:name=".giggerMainClasses.MainAPI.GiggerMainAPI"
            android:exported="false"/>

    </application>

</manifest>